body
{
    margin: 0;
    background-color:#fff;
}
.fixedwhite
{
    margin-top:0;
    margin-left: 90px;
    padding-top: 71px;
    position: sticky;
    width: 800px;
    height: 30px;
    background-color: #fff;
    display: flex;
    color: #3b3c43;
    
}
.fixedparker
{
    position: fixed;
    width: 100%;
    background-color:  #3b3c43;
    height: 66px;
    display: flex;
    align-content: space-between;
    align-content: center;
    z-index: 2;
}
.Leftnav
{
    margin-top: 12px;
    margin-left: 90px;
    width: 235px;
}
.rightnav
{
    width: 1fr;
    margin-right: 30px;

}
.rightnav img:hover
{
  background-color: #000000;
}
.rightnav button
{
    background-color: #3b3c43;
    height: 60px;
    text-decoration: none;
    border: none;

}
.centernav
{
    margin-left:0px;
    margin-top: 7px;
    width: 780px;
    display: flex;
}
.centernav button
{
    height: 46px; 
    padding: 0;
    background:none;
    border: none;
    
}
.centernav button:hover
{
    filter: invert(100%);
    background-color: #000000;

}
.box
{
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 15px;
    margin-left: 0;
    width: 300px;
    height: 44px;
    border: none;
   
}
.first
{   
    padding-top: 5px;
    width: 100%;
    height: 300px;
}
.text1
{
    position: absolute;
    top: 230px;
    left: 80px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color:#fff ;
    font-size: 40px;

}
.text2
{
    position: absolute;
    top: 290px;
    left: 80px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color:#fff ;
    font-size: 20px;

}
.text3
{
    position: absolute;
    top: 320px;
    left: 80px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color:#fff ;
    font-size: 45px;

}
.text3 button
{
    width: 180px;
    height: 45px;
}
.text3 button:hover
{
    background-color: #212529;
    color: #fff;
    border: none;
}

.second
{
    margin-top: 120px;
    display: flex;
    
}

.third
{
    margin-top: 10px;
   
    display: flex;
}
.third img
{
    width: 130%;
}
.four
{
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
}
.four img
{
    width: 50%;
}
.five
{
    margin-top: 10px;
  
}
.six
{
    margin-top: 10px;
}
.five img,.six img
{
    width: 100%;
}
#container
{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
    
   
}
.parkerpenspara
{
    font-size: 15px;
    font-weight: 500;
    width: 620px;
    margin: 16px;
    text-align: center;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
   
}
.parkerpenspara a
{
    text-decoration: none;
    color: black;
    
}
.parkerpenspara a:hover
{
    text-decoration: underline;
    

}
.parkerpenshead
{
    padding-top: 50px;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
}
.border
{
    border-bottom: solid;
    border-color:#d8d8d8;
}
.signup
{
    margin-left: 100px;
    width: 500px;
    height: 200px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.signupcontent
{
    width: 1000px;
    height: 40px;
}
.box2
{
    color: #000000;
    width: 250px;
    height: 45px;
}
.boxbutton
{
    width: 100px;
    height: 50px;
    background-color:
    #000000; 
    text-decoration: none;
    border: none;
    color: #fff;
    
}
.boxbutton:hover
{
    background-color:#000000;
}
.signupcontent 
{
    color: #000000;
}
.menu
{
    margin: 0;
    padding-left: 150px;
    width: 700px;
    margin-left: 0px;
    justify-content: space-between;
    display: flex;
    font-size: 14px;
    color: 
    #3b3c43 ;
    align-items: center;
    
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}
.m
{
    align-items: center;
}

.m:hover
{

    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000000;
    color: #fff;
    
    align-items: center;

}
.second-section
{
    display: flex;
    flex-direction: column;
}
.secondtext1
{
    width: 300px;
    margin-left: 100px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 40px;
    height: 140px;
}
.secondtext2
{
    width: 300px;
    margin-left: 100px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
}
.secondtext3
{
    width: 300px;
    margin-left: 100px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.secondtext3 button
{
    width: 135px;
    height: 45px;
    color: #fff;
    background-color: #3b3c43;
    border: none;
    
}
.secondtext3 button:hover
{
    background-color: #000000;
}
.Third-section
{
    width: 1645px;
    display: flex;
    flex-direction: column;
    
    
}
.Thirdtext1
{
    width: 300px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 40px;
    height: 140px;
    margin-left: 100px;
}
.col
{
    margin-left: 0;
}
.thirdimage
{
    width: 300px;
}
.Thirdtext2
{
    width: 300px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 140px;
    margin-left: 100px;
}
.Thirdtext3
{
    width: 300px;
    margin-left: 100px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
.Thirdtext3 button
{
    width: 135px;
    height: 45px;
    color: #fff;
    background-color: #3b3c43;
    border: none;

}

.Thirdtext3 button:hover
{
    background-color: #000000;
}
.text4
{
    position: absolute;
    top: 2050px;
    left: 80px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color:#fff ;
    font-size: 50px;

}
.text5
{
    padding-top: 30px;
    position: absolute;
    top: 2090px;
    left: 80px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color:#fff ;
    font-size: 20px;
    width: 500px;
    font-size: 25;

}
.text6
{
    
    position: absolute;
    top: 2170px;
    left: 80px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color:#fff ;
    font-size: 45px;

}
.text6 button
{
    width: 180px;
    height: 45px;
}
.text6 button:hover
{
    background-color: #212529;
    color: #fff;
    border: none;
}
.text7
{
    position: absolute;
    top: 2500px;
    left: 80px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color:#fff ;
    font-size: 50px;

}
.text8
{
    padding-top: 30px;
    position: absolute;
    top: 2550px;
    left: 80px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color:#fff ;
    font-size: 20px;
    width: 500px;
    font-size: 25;

}
.text9
{
    
    position: absolute;
    top: 2630px;
    left: 80px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color:#fff ;
    font-size: 45px;

}
.text9 button
{
    width: 180px;
    height: 45px;
}
.text9 button:hover
{
    background-color: #212529;
    color: #fff;
    border: none;
}
.infocolumn
{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    justify-content: space-between;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}
.infocolumn a:hover
{
    text-decoration: underline;
}
.info
{
    padding-top: 30px;
    padding-bottom: 40px;
    height: 250px;
    display: flex;
    border-top: solid;
    border-bottom: solid;
    border-color: #d8d8d8;
}
.infocolumn p
{
    font-size: 18px;
}
.rights
{
    
    display: flex;
}
.c1
{
    width: 150px;
    margin-left: 80px;
    margin-top: 20px;
}
.c2 
{

    margin-top: 20px;
    width: 750px;
    font-size: 13px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    
}
.c3 
{
    margin-top: 20px;
    border: solid 1px #000000;
    display: flex;
    align-items: center;
    width: 150px;
    height: 30px;
}
select
{
    border: none;
    height: 25px;
    width: 130px;

}
select:focus
{
    border: none;
    outline: none;
}
